.signupContainer {
  width: 20rem;
}

.formContainer {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
}

.signupHeader {
  margin-bottom: 0;
}

.loginText {
  margin-bottom: 2rem;
}
