.siteHeader {
  @include section(0.75rem);
  background-color: $color-primary-dark;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  a {
    color: $color-white;
    text-decoration: none;
  }
}
