// This is a .module file that we use to map sass vars to MUI Theme Provider JS Vars
@import "variables";

// Export SASS Variables for use in JS Theme
:export {
  textSizeBody: $text-size-body;
  textSize1: $text-size-1;

  colorPrimaryText: $color-black;

  colorPrimary: $color-primary-main;
  colorPrimaryDark: $color-primary-dark;
  colorError: $color-error;

  greyscale400: $color-greyscale-400;
  greyscale500: $color-greyscale-500;
  greyscale600: $color-greyscale-600;
  greyscale700: $color-greyscale-700;
  greyscale800: $color-greyscale-800;
  greyscale900: $color-greyscale-900;
}
